### Training parameters
epochs: 1715
lr_step: 1250
lr_warmup_epochs: 0
lr_warmup_start_factor: 1.0e-6
lr: 1.0e-4
batch_size: 6
batch_size_val: 6
accumulate_grad_batches: 22
grad_clip_val: 0.2  # max gradient norm
to_monitor: "val_mAP"
monitor_mode: "max"
val_interval: 1

### Model parameters
model: "piratr"
preencoder_type: "samodule"
num_features: 0
weights: "ckpts/piratr.ckpt"  # NOTE: for training from scratch set to null
preencoder_lr: 1.0e-4
freeze_backbone: false
encoder_dim: 768
decoder_dim: 768
num_encoder_layers: 3
num_decoder_layers: 9
encoder_dropout: 0.1  # dropout in encoder
decoder_dropout: 0.1  # dropout in decoder
num_attn_heads: 8  # number of attention heads
enc_dim_feedforward: 2048  # dimension of feedforward in encoder
dec_dim_feedforward: 2048  # dimension of feedforward in decoder
mlp_dropout: 0.0  # dropout in MLP heads
num_preds: 128  # num outputs of transformer
num_classes: 4
auxiliary_loss: true
max_points_in_param: 4
num_transformer_points: 2048  # number of transformer points (needed for some preencoders)
query_type: "point_fps"
pos_embed_type: "sine"  # Options: "fourier", "sine"
class_loss_type: "cross_entropy"
class_loss_weights: [0.02, 0.39, 0.30, 0.28]

### Curve and validation parameters
num_curve_points: 64  # must be same as points_per_curve
num_curve_points_val: 256  # validation curve points
mAP_chamfer_threshold: 0.00125

### Loss weights
loss_weights:
  loss_class: 1
  loss_gripper_params: 1
  loss_gripper_chamfer: 1
  loss_loading_platform_params: 1
  loss_loading_platform_chamfer: 1
  loss_pallet_params: 1
  loss_pallet_chamfer: 1

### Cost weights
cost_weights:
  cost_class: 1
  cost_params: 1

### Dataset parameters
dataset: "synth_dataset"
num_workers: 8
data_root: "demo_samples"
data_val_root: "demo_samples"
data_test_root: "demo_samples"
augment: true
random_rotate_prob: 1.0
random_rotate_angles: [5, 5, 0]
random_sample_prob: 0.0
random_sample_bounds: [1.0, 0.2]  # [max, min] fraction of points to keep
noise_prob: 0.34
noise_scale_range: [0, 0.04]  # range of noise to add to points
min_gripper_points: 30
min_loading_platform_points: 100
min_pallet_points: 30
sample_points: 0
max_distance: 0.0